/// How it works page
.how-works{
  display: flex;
  flex-direction:column;
  margin:20px 0 100px;
  clear:both;

    @include tab {
      flex-direction: row;
      justify-content:space-between;
    }

  @include element(imagery) {
    justify-content: center;
    align-items: center;
    order: 2;
    flex: 0;
    flex-shrink: 0;
    display: flex;


    @include tab {
      order: inherit;
      flex:0 0 40%;
    }
  }

  @include element(inner) {
    flex:1;
    padding: 0px 0px 40px 80px;
    flex-direction: column;
    position: relative;
    order:1;
    flex-shrink: 0;
    justify-content: center;


    @include tab {
      order: inherit;
      flex: 1 0 60%;
      padding: 0px 40px 40px 100px;
    }

    @include med {
      padding:0px 120px 40px 120px;
      @include fontSize(18px);
    }

    &:before{
  		@include before-top-deco(80px, 2px, 40px, palette(orange, base));
    }
  }
}

.big-digits{
  @include fontSize(64px);
  display:inline-block;
  position: absolute;
  left:0;
  top:8px;
  color:$heading-color;

  @include tab {
    @include fontSize(84px);
    top:16px;
  }
}


///ROBOT 1
 .robot {
   position: relative;
   align-items:center;
 }
.robot-1{
  width:30%;

  @include tab {
    width:50%;
  }
}

.robot-2 {
  width:30%;

  @include tab {
    width:50%;
  }
}

.robot-3 {
  width:40%;

  @include tab {
    width:75%;
  }
}

.robot-4 {
  width:30%;

  @include tab {
    width:50%;
  }
}
