.module-wrap{
  display: flex;
  flex-direction: column;
  @include tab {
    @include padding-all(40px, 40px, 40px, 40px);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.user-settings {
  flex:0 0 54%;
}

.billing-setting {
  flex:0 0 45%;
}

.module{
  background: transparent;
  border:1px solid palette(grey, dark);
  padding:40px 20px;
  margin-bottom:1%;
  transition: all .5s ease-in;

    @include tab {
      padding:40px;
    }
}

.setting-api-key {
  margin-bottom: $margin-bottom-small;
  border-bottom: 1px solid palette(grey, dark);
  padding-bottom: 16px;
  &:last-child {
    border-bottom: none;
  }
}
