// Color Palette

$main-bg: lighten(#FFFAE3, 3%);

$color-text: mix(black, #493c4f, 10%);
$color-text: #575272;
$color-text: #57546c;

$heading-color: #3f3151;
$heading-color: #392c4a;

$palettes: (
   blue: (
      xx-dark: #151521,
      x-dark: #1f1f28,
      dark: #272732,
      base: #2D2D37,
      mid-light: #3c3c47,
      light: #2e3141,
      x-light: #40445A,
      xx-light: #999FB4
    ),
    red: (
      x-dark: #ce2c3b,
      dark:   #db3a49,
      base:   #ea4655,
      light:  #de6060
    ),
    orange: (
      x-dark: #d93928,
      dark: #f04331,
      base: #e24542,
      light: #f05949,
      x-light: #f96151
    ),
    grey: (
      xx-dark: #6A6D76,
      x-dark: #8a8d96,
      dark:  #DCE0E4,
      base: #EAEDEF,
      light: #F9FAFB,
      x-light: #f7f7f7,
      xx-light: #F9FAFB
    ),
    l-blue: (
      dark:  #3598a8,
      base: #4eb2c2,
      light: #4db7c8,
      xx-light: lighten(#4db7c8,7.5%)
    ),
    text: (
      dark: #292b30,
      base: $color-text,
      light: #594d5f,
      x-light: #7a7b85
    ),
    bg: (
      light: #f9f9f8,
      base: #F6F6F3,
      dark: #F0F0EA,
      x-dark: #ecece5,
      xx-dark: #e9e9e3
    ),
    purple: (
      xx-dark: #1f1722,
      x-dark: #49305b,
      dark: #563b69,
      base: #694e7c,
      light: #745688,
      x-light: #85649c
    )
);



$gradient-red-or :  linear-gradient(35deg,palette(orange,light) 45%, palette(red,base) 85%);



//

// Brand colors

$brand-color: rgb(239, 96, 47);

//Beige variables

$cream: #fffae3;


$accent-color-red: #F04B49;



$color-link: palette(purple,light);


//shades of white

$white :#fff;
$light-grey : #8e909b;
$light-color: #8b8c99;
