///AGENT loading

.agent__inprogress{
  width:100vw;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(#f6f6f3,.95);
  z-index:50000;
  opacity:.025;

@include tab {
  border:10px solid $white;
}

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index:600;
  }
  .loading-bar {
    display: inline-block;
    width: 2px;
    height: 28px;
    border-radius: 2px;
    margin:0 2px;
    animation: loading 1s ease-in-out infinite;
  }
  .loading-bar:nth-child(1) {
    background-color: palette(purple, base);
    animation-delay: 0;
  }
  .loading-bar:nth-child(2) {
    background-color: darken( palette(purple, base), 2.5%);
    animation-delay: 0.09s;
  }
  .loading-bar:nth-child(3) {
    background-color: palette(purple, base);
    animation-delay: .18s;
  }
  .loading-bar:nth-child(4) {
    background-color: darken( palette(purple, base), 2.5%);
    animation-delay: .27s;
  }

  @keyframes loading {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1, 2.2);
    }
    40% {
      transform: scale(1);
    }
  }
}
