//card layout

//Rules cards
.rules-card-wrap{
  padding:80px 0;
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
}
.rules-card{
  position:relative;
  padding-bottom:25%;
  background: #e7e8e9;

  @include element (inner) {
    padding:40px;

    p{
      letter-spacing:.1em;
       &:before{
         @include before-top-deco(40px, 1px, 32px, $accent-color-red);
       }
    }
  }

  @include element(controls) {
    clear:both;
    height:50px;
    border-top:3px solid $white;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    padding:0 40px;
    line-height:50px;
  }

  @include  tab {
    width:49%;
    margin:.5%;
  }

  @include med {
    width:24%;
  }
}
