///hero component
.hero-wrapper{
	overflow:hidden;
  position: relative;
	width:100%;
	border: 4px solid $main-bg;
	border-top: none;
	z-index:2;

  svg{
		position:absolute;
		top:40px;
		right:-20px;
		width:65%;
	}

	@include tab {
		border-width:20px;
	}


	@include xl {
		border-width:40px;
	}
}

.hero {
	background-image: linear-gradient(35deg,#22122f 25%, #201527 35%, #221926 65%, #14091E 85%);
	margin-top:60px;
	border:1px solid #362642;
	align-items:center;
	position: relative;


		@include tab {
			margin-top:80px;
		}

		@include lrg {
			padding:20px 80px 40px;
		}

		@include xl {
			padding:140px 80px 120px;
		}


}

.hero-lines{
	display:none;
	stroke-width:2;
	fill:transparent;
	z-index:20000;
	width:100%;
	position:relative;
	bottom:0;
	stroke-dasharray: 3800;
	stroke-dashoffset: 3800;
	transform-origin: top left;
	@include animation('dash 8s ease-in forwards');
	animation-delay: .75s;
	width:100%;

		@include tab {
			display: block;
		}
}

#group-1  svg{
	 animation-delay: .2s;
	 display:none !important;
	 visibility: hidden;
}


.accent{
	color:#d8273c;
	color:#cb2f41;
}

.hero__text {
	@include animation('fadeIn .8s ease-in');
	color:$cream;
	overflow:hidden;
	padding:40px 40px 70px;


		@include tab {
			padding:70px 40px 70px;
		}


	//h1 element
	@include element(h1) {
		font-weight: $fwh;
		color: $cream;
		@include fontSize(42px);
		margin-bottom:.275em;
		line-height: 1em;

		@include tab {
			@include fontSize(64px);
			width:50%;
		}

		@include dudeWTF {
			@include fontSize(82px);
			margin-bottom:.45em;
		}
	}

		 @include element(sub-heading) {
			font-family: $heading-stack;
			font-weight:$fwl;
			color: $cream;
			@include fontSize(14px);
			line-height: 1.6;
			letter-spacing:4.5px;
			margin-bottom:.5em;

			@include tab {
				@include fontSize(21px);
			}

			@include dudeWTF {
				@include fontSize(28px);
			}
		}
}

.hero__text__para{
	@include fontSize(14px);
	font-weight: $fwl ;
	&::before{
		@include before-top-deco(40px, 1px, 32px, palette(red, dark));
		margin: 28px 0 28px;
	}

	.btn{
		margin-top: 28px;
		margin-bottom: 0px;
	}

	@include pretab {
		width: 75%;
	}
	@include tab {
		@include fontSize(16px);
		white-space: wrap;

	@include med {
		@include fontSize(18px);
		line-height:1.8em;
	}

	@include dudeWTF {
		@include fontSize(24px);
	}
}

		@include med {
			width: 50%;
		}

		@include lrg {
			width: 55%;
		}

		@include dudeWTF {
			width: 40%;
		}
	}

	.no-credit-required {
		@include fontSize(8px);
		letter-spacing: 2px;
		font-weight: 600;
		color: $cream;
	}
