///Home page svg
.svg-icon-wrap{
	margin:10px auto 18px;
	padding:0;
	width:100%;

	@include tab {
		padding:20px 0;
	}

		svg{
			width:60%;

			@include pretab {
				width:40%;
			}

				@include med {
					width:60%;
				}
				@include lrg {
					width:65%;
				}

				@include xl {
					width:75%;
				}
		}
}

.home-svg-icon{
	fill: transparent;
	stroke-width:1.5;
	stroke:palette(purple, base);
}

.cross-platform-icon{
		svg{
			@include tab {
				stroke-dasharray: 1670;
				stroke-dashoffset: 1670;
			}

			#iphone-screen, #mbp-screen, #ipad-body-2, #border-screen{
			stroke:palette(l-blue,base);
		}
	}
}

.versatile-icon{
 stroke-wdth:2px;
	svg{
		@include tab {
			stroke-dasharray: 5480;
			stroke-dashoffset: 5480;
		}
		#swiss-cross-shape{
			stroke-width: 2;
		}

		#bg-swiss-cross-cut{
			stroke: palette(l-blue,base);
			stroke-width: 2;
		}
	}
}

.pricing-icon{
		@include tab {
			svg{
				stroke-dasharray: 1970;
				stroke-dashoffset: 1970;
			}
			#tag{
				stroke-width:2;
			}
		#circle, #second-tag{
			stroke-width:2;
			stroke:palette(l-blue,base);
		}
	}
}

.activate_load  svg{
	@include animation(' dash 4s linear forwards');
}
