#app{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.site {
	flex: 1;
}
.page{
	@include clearfix;
	max-width:1180px;
	width: 100%;
	margin:0px auto 0px;
	@include padding-all(0px, 20px, 40px, 20px);

		@include tab {
			margin:40px auto;
			@include padding-all(0px, 40px, 40px, 40px);
		}

		@include lrg {
			@include padding-all(0px, 0px, 40px, 0px);
		}
}


.row{
	padding:100px 0;

		@include tab {
			padding:120px 0;
		}

		@include med {
			padding:120px 0;
		}

		@include lrg {
			padding:140px 0;
		}

		@include dudeWTF {
			padding:180px 0;
		}
}

.app-row-bg{
	padding:100px 0px ;

		@include tab {
			padding:120px 0px;
		}

		@include med {
			padding:120px 0px;
		}
}


.main{
	width:92%;
	margin:0 auto;
	@include clearfix;
	@include padding-all(20px, null, 20px, null);
	@include margin-all(20px, null, 20px, null);
}

.main-80{
	width:80%;
	padding:40px;
	margin:0 auto;

}

.wrapper {
	width: 100%;
}
