/// Style list modules

///compressed list
.compressed-list{
	margin-bottom:0;

	 @include element(item) {
		 margin-bottom:$margin-bottom-tiny;
		 padding:0;
	 }
}

/// compressed list with nested unordered-list
.compressed-list{

	@include element(item) {
		ul{
			padding: 0;
			margin: 0;
			li{
				font-weight: normal;
				@include fontSize(14px);
			}
		}
	}
}


///Border list used for agent or when we need a list with bordered-list
.bordered-list {
	margin-bottom: 0;

	@include element(item) {
		border-bottom: 1px solid palette(bg, xx-dark);
		border-top: 1px solid palette(bg, xx-dark);
		margin-bottom: -1px;
		padding: 20px 0;

			@include med {
				padding:25px 0;
			}
	}
}

.bullet-list {
	padding-left:40px;
	@include element(item) {
		 list-style-type: disc;
	}
}
